* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Roboto', sans-serif; }

header { width: 100%; }

.menu { height: 50px; width: 100%; background-color: #212121; position: fixed; top: 0px; z-index: 1000; }

.menu__list { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; list-style: none; height: 50px; }
.menu__list a { text-decoration: none; color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-right: 2px dotted black; }

.menu__item { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
.menu__item:last-child a { border-right: none; }

.submenu { height: 85px; background-color: rgba(8, 8, 1, 0.6); position: relative; z-index: 4; }

.submenu__logo { margin: 16px 0px 8px; font-size: 13px; font-weight: 300; color: #ffffff; }

.number { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 100%; color: #ffffff; font-size: 22px; font-weight: 400; }
.number div { font-size: 12px; font-weight: 300; }

.container-menu { margin-top: 50px; }

.baatn { background-color: #3ab6da; padding: 16px 20px; color: white; font-weight: 400; text-transform: uppercase; border-radius: 4px; outline: none; border: none; font-size: 14px; cursor: pointer; -webkit-box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.23) inset; box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.23) inset; margin-top: 16px; }

.start { height: 750px; width: 100%; background: url("../img/headerBack.jpg"); background-repeat: no-repeat; background-size: cover; position: relative; z-index: 3; text-align: center; color: #ffffff; top: -85px; }
.start .baatn { font-size: 18px; padding: 25px 40px; -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.23) inset; box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.23) inset; margin-top: 110px; }

.title { margin: 140px 0 10px; font-size: 60px; font-weight: 900; }

.subtitle { font-size: 36px; font-weight: 700; }

.start__text { font-size: 18px; line-height: 24px; font-weight: 400; }

p:first-child { display: block; margin: 30px 30px; }

.reasons { position: relative; margin-bottom: 15px; top: -50px; }
.reasons > .container { text-align: center; }

.reason__cirk { height: 110px; min-width: 110px; border-radius: 50%; background-color: #1eacc7; position: relative; margin: 0px 25px 0px 35px; }
.reason__cirk img { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.reasons__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 35px; }

.pretitle { font-size: 11px; font-weight: 100; color: white; padding: 7px 14px; background-color: black; display: inline-block; margin-top: 70px; }

.h__title { font-size: 38px; font-weight: 700; margin-top: 35px; }

.reasons__subtitle { font-size: 17px; font-weight: 400; color: #1eacc7; }

.reasons__text { color: black; text-align: start; font-size: 15px; line-height: 21px; font-weight: 300; padding-right: 60px; }
